/*------------- #BLOCKS --------------*/

.material-icons.md-light {
    color: $white-color;
}
::-moz-selection { /* Code for Firefox */
    background: $primary-color;
}
::selection {
    background: $primary-color;
}




