{% extends "default/layout.html.twig" %}

{% block content %}

    <div class="container col-offset-2 col-6">
        <h1>Liste des vehicules</h1>
        <div class="table-responsive col-12">
            <table class="table table-striped table-sm table-admin">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Modele</th>
                    <th>Numéro série</th>
                    <th>Réserver</th>
                </tr>
                </thead>
                <tbody>
                {% for vehicle in vehicles %}
                    {% if vehicle.status.id != 0 %}
                    <tr>
                        <td>{{ vehicle.id }}</td>
                        <td>{{ vehicle.model.name }}</td>
                        <td>{{ vehicle.serialnumber }}</td>
                        <td><a href="{{ path('add_reservation', {'idVehicle': vehicle.id}) }}">Reservation</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
