{% extends 'base.html.twig' %}

{% block container %}

<div class="blogs-4">
    <h2 class="title"> Réservation </h2>

    <div class="row">
        <div class="col-md-2">
            <div class="datepicker-container">
                <div class="form-group">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
