{% extends 'base.html.twig' %}

{% block container %}

    <div class="blogs-4">
        <h2 class="title">Ajout classification </h2>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>

{% endblock %}
