<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome 2 t'es co!</title>

    </head>
    <body>
    co <br>
    <a class="text-muted" href="{{ path('logout') }}">logout </a>
    </body>
</html>
